/* GLOBAL STYLES
-------------------------------------------------- */
body {
  padding-bottom: 40px;
  color: #5a5a5a;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.carousel-item {
    height: 95vh;
} 
.carousel-item img {
    height: 95vh;
}
.carousel-caption {
    text-align:center;
    font-size: 14px;
    top: 15%;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.carousel-caption h1 {
    font-size: 24px;
}
.carousel-caption .btn-lg {
    font-size: 16px;
    white-space: normal;
}
.carousel-control-next {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
}
.carousel-control-prev {
    background-image: -webkit-linear-gradient(right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -o-linear-gradient(right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -webkit-gradient(linear,right top,left top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
    background-image: linear-gradient(to left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
}
.carousel .blockquote {
    border-left: 5px solid #eee;
    font-size: 1rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing h2 {
  font-weight: normal;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {

  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  .carousel-item {
    height: 550px;
  } 
  .carousel-item img {
    height: 550px;
  }
  /* Bump up size of carousel content */
  .carousel-caption h1 {
      font-size: 40px;
  }
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
  .carousel-caption .btn-lg {
      font-size: 21px;
  }

  .featurette-heading {
    font-size: 50px;
  }
}
